.login-container {
    margin-top: 2%;
}


.login-form-2 {

    background: transparent;
}

.form-control::placeholder {
    color: #5c547a;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    color: white;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}